.elementor-kit-27 {
    --e-global-color-primary: #2C3B6D;
    --e-global-color-secondary: #FF5959;
    --e-global-color-text: #212529;
    --e-global-color-accent: #D6252C;
    --e-global-typography-primary-font-family: "Roboto";
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-secondary-font-family: "Roboto Slab";
    --e-global-typography-secondary-font-weight: 400;
    --e-global-typography-text-font-family: "Roboto";
    --e-global-typography-text-font-weight: 400;
    --e-global-typography-accent-font-family: "Roboto";
    --e-global-typography-accent-font-weight: 500;
    color: var(--e-global-color-text);
    font-family: "Poppins", Sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8em;
}

.elementor-kit-27 h1 {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 32px;
    font-weight: 700;
}

.elementor-kit-27 h2 {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 27px;
    font-weight: 700;
}

.elementor-kit-27 h3 {
    color: var(--e-global-color-primary);
    font-family: "Poppins", Sans-serif;
    font-size: 17px;
    font-weight: 700;
}

.elementor-section.elementor-section-boxed>.elementor-container {
    max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-bottom: 20px;
}

h1.entry-title {
    display: var(--page-title-display);
}

@media(max-width:1024px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 1025px;
    }
}

@media(max-width:767px) {
    .elementor-section.elementor-section-boxed>.elementor-container {
        max-width: 768px;
    }
}